* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primaryColor: #fd2f6f;
  --secondaryColor: #ff5b3b;
  --button-color: oklch(49.6% 0.265 301.924);
  --button-active-color: oklch(29.1% 0.149 302.717);
}
body {
  background-color: var(--primaryColor);
}
.container {
  padding: 1% 5%;
}
.navbar {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}
.logo {
  color: white;
  border-top: 4px solid var(--button-active-color);
  border-right: 4px solid var(--button-active-color);
  border-bottom: 4px solid var(--button-active-color);
  padding: 6px;
  border-radius: 15px;
}
.logo h1 {
  font-size: 2rem;
}
.navigations ul,
.registrations ul {
  display: flex;
  gap: 30px;
  color: white;
  font-size: 1.5rem;
  padding-top: 15px;
}
.navigations ul li,
.registrations ul li {
  list-style: none;
}
.registrations ul li {
  background-color: var(--button-active-color);
  padding: 5px 10px;
  border-radius: 10px;
}
.registrations ul li:hover {
  background-color: var(--button-color);
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
